{% extends "base.html" %}
{% load static %}
{% block title %}Njane Labs - Data Science of Currencies{% endblock %}
{% block content %}
    <div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <h3 class="page-title">Data Tables</h3>
        </div>
    </div>
    <!-- End Page Header -->
    <div class="row">
        <div class="col">
        <div class="card card-small mb-4">
            <div class="card-header border-bottom">
            <h6 class="m-0">Hourly Dips</h6>
            </div>
            <div class="card-body p-0 pb-3 text-center">
            <table class="table mb-0">
                <thead class="bg-light">
                <tr>
                    <th scope="col" class="border-0">#</th>
                    {% for asset in assets %}
                        <th scope="col" class="border-0">{{ asset }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for i in values %}
                {% for key, value in values.0.items %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>
    </div>
{% endblock %}